name: ag-solo on xs

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: cache node modules
      uses: actions/cache@v1
      with:
        path: ~/.cache/yarn
        key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
    - name: yarn install
      run: yarn install
    - name: yarn build
      run: yarn build
    - name: install moddable linux CLI SDK v0.1.12-ag
      run: |
        cd $HOME
        curl -L https://github.com/dckc/moddable/releases/download/v0.1.12-ag/moddable-linux-sdk.tgz | tar xzf -
    - name: install tape-xs v0.1.2
      # ISSUE: merge into agoric-sdk?
      run: |
        cd $HOME
        curl -L https://github.com/dckc/tape-xs/archive/v0.1.2.tar.gz | tar xzf -
        mv tape-xs-0.1.2 tape-xs
        cd tape-xs
        yarn install
    - name: test eventual-send, marshal, captp packages on xs
      run: |
        export MODDABLE=$HOME/moddable
        export PATH=$MODDABLE/build/bin/lin/release:$PATH
        export TAPE=$HOME/tape-xs
        make -f test-xs.mk test
    - name: build ag-solo for xs
      run: |
        export MODDABLE=$HOME/moddable
        export PATH=$MODDABLE/build/bin/lin/release:$PATH
        export WORKSPACE=$GITHUB_WORKSPACE
        cd packages/cosmic-swingset
        make -f ag-solo-xs.mk MODDABLE=$MODDABLE
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: packages/cosmic-swingset/bin/ag-solo-xs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
